.pageContainer {
    max-width: 60%;
    justify-content: center;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
}
.datePickerForAppointment {
    margin-left: 20%;
    margin-bottom: 2%;
}