.addDoctorBtn {
    background-image: linear-gradient(to right, #3366cc 0%, #0099ff 51%, #3366cc 100%);
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
}