
.doctor-card {
    display: block;
    background-color: white;
    text-decoration: none;
    width: 25%;
    min-width: 250px;
    height: auto;
    min-height: fit-content;
    border-radius: 10px;
    outline: none;
    -webkit-box-shadow: 0px 0px 100px 20px rgba(51, 102, 204, 0.2);
    -moz-box-shadow: 0px 0px 100px 20px rgba(51, 102, 204, 0.2);
    box-shadow: 0px 0px 100px 20px rgba(51, 102, 204, 0.2);

}
.doctor-info {
    display: flex;
    gap: 10px;
    max-width: fit-content;
    min-height: 400px;
    padding: 0 0 20px;
    height: -moz-fit-content;
    min-width: 70%;
    width: 80%;
    flex-direction: column;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}
.doctor-info__img {
    display: flex;
    justify-content: center;
    height: 270px;
}
.doctor-info__text {
    height: 80px;
    max-height: 80px;
}
.doctor-info__button {
    display: flex;
    justify-content: center;
    height: 40px;
}
.button-div__button {
    background-image: linear-gradient(to right, #3366cc 0%, #0099ff 51%, #3366cc 100%);
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
}
.button-div__button:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}